* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f5ed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box,
.register-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    text-align: left;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4a7fff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #365fbd;
}

.toggle-text {
    margin-top: 15px;
    font-size: 14px;
    color: #280707;
}

.toggle-text a {
    color: #4a7fff;
    text-decoration: none;
}

.toggle-text a:hover {
    text-decoration: underline;
}
